
.toggle-button {

    background: #d8d4d4;
    width: 65px;
    height: 30px;
    transition: all 0.5s;

    .switch-button {
        background: white;
        width: 20px;
        height: 20px;
        margin: 0px 5px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s;
        border-radius: inherit;
    }

    .switch-button.on {
        transform: translateX(35px) translateY(-50%);
    }

}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button.on {
    background: #6a94d8;
}

.toggle-button.rounded {
    border-radius: 20px;
}