
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: palanquindark-regular;
    height: 100%;
    background: #E9EBEE;
}

.App, #root {
    height: 100%;
}

@font-face {
    font-family: palanquindark-regular;
    src: url(assets/fonts/palanquindark-regular.ttf);
}